@{
    ViewBag.Title = "Новый сотрудник";
}

<h3>Новый сотрудник</h3>

<div>
    <div>
        <input id="lastName" name="LastName" type="text" placeholder="Фамилия">
    </div>
    <div>
        <input id="firstName" name="FirstName" type="text" placeholder="Имя">
    </div>
    <div>
        <input id="middleName" name="MiddleName" type="text" placeholder="Отчество">
    </div>
    <div>
        <input id="email" name="Email" type="text" placeholder="Email">
    </div>
    <div>
        <input id="password" name="Password" type="text" placeholder="Пароль">
    </div>
    <div>
        @Html.DropDownList("positionId", new SelectList(ViewBag.Positions, "Id", "DisplayName"))
    </div>
    <div>
        @Html.DropDownList("superiorId", new SelectList(ViewBag.Superiors, "Id", "FullName"))
    </div>
    <button onclick='addWorker()'>Добавить сотрудника</button>
</div>

@section Scripts{
    <link href="~/Content/Staff/addWorker.css" rel="stylesheet" />
    <script src="~/Scripts/Staff/addWorker.js"></script>
}